body {
  background-color:gainsboro;
}

img{
  display:inline-block;
  width:20%
}

h1{
  font-family:"Quintessential", sans-serif;
  font-size: 4rem;
  color:navy;
  padding-top: 20px;
  padding-left: 10px;
}

li,h2{
  padding-top: 20px;
  text-align: center;
  font-family:"Roboto Slab", sans-serif;
  font-size:20px;
  color:#171940;
}

h3{
  padding-top:30px;
  font-family:"Quintessential", sans-serif;
  font-size:40px;
  padding-left:15px;
  color:#0F1359;
}

h4{
  padding-left:20px;
  font-family:"Quintessential", sans-serif;
  font-size:40px;
  color:#014023;
}

h5{
  padding-left:25px;
  padding-top:10px;
  font-size:25px;
  padding-bottom:30px;
  font-family: "Roboto Slab", sans-serif;
}
